.contentBuscador{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    & input{
        width: 300px;
        height: 30px;
        border-radius: 6px;
        border: 2px solid lightgrey;
        font-size: 1rem;
        padding-left: 30px;
    }

    & span {
        position: relative;
        top: 1px;
        left: 25px;
        font-size: 1.2rem;
        color: lightgray;
    }
}

@media screen and (min-width: 991px){
    .contentBuscador{
        margin-top: 70px;
        margin-right: 14px;
        & input{
            width: 400px;
        }
    }
}